

h1{
    width: 600px;
    margin:20px auto;
}
form, .results{
    border:1px solid silver;
    width: 600px;
    padding:30px;
    margin: auto;
}

.results{
    margin-top:30px;
}
.results h1{
    margin-top:0px;
}

p{
    font-weight: bold;
}
p span{
    font-weight: normal;
}